@model RussianTeaClubSite.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Админ панель: Редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование статьи "@Model.Name"</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ArticleId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ArticleId")
                {
                    switch (property.PropertyName)
                    {
                        case "ArticleId":
                        case "ContentImages":
                            //Хуй
                            break;
                        default:
                            <div class="form-group">
                                <label>@(property.DisplayName ?? property.PropertyName)</label>
                                @if (property.PropertyName == "Description")
                                {
                                    @Html.TextArea(property.PropertyName, null, new { @class = "form-controll", rows = 5 })
                                }
                                else if (property.PropertyName == "Content")
                                {
                                    @Html.TextArea(property.PropertyName, null, new { @class = "form-controll", rows = 7 })
                                }
                                else
                                {
                                    @Html.TextBox(property.PropertyName, null, new { @class = "form-controll" })
                                }
                                @Html.ValidationMessage(property.PropertyName)
                            </div>
                            break;
                    }
                }
            }

            <div class="form-group">
                <div style="position: relative">
                    <label>Картинки</label>
                    <a class="btn" href="javascript:;">
                        Выберите файл...
                        <input type="file" name="images" multiple size="40"
                               style="position: absolute; z-index: 2; top: 0;
                                                                                                  left: 0; filter: alpha(opacity=0); opacity: 0;
                                                                                                  background-color: transparent; color: transparent;"
                               onchange='$("#upload-file-info").html($(this).val());' />
                    </a>
                    <span class="label label-info" id="upload-file-info"></span>
                </div>
                @if (Model.ContentImages == null || Model.ContentImages.Count == 0)
                {
                    <div class="form-control-static">Нет картинки</div>
                }
                else
                {
                    foreach (var image in Model.ContentImages)
                    {
                        <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Article", new { articleId = Model.ArticleId, contentImageId = image.ContentImageId })" />
                    }
                }
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary"/>
            @Html.ActionLink("Отменить и вернуться к списку", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>